<template>
  <div id="app">
    <div class="calculator">
      <div class="calculator__result">
        {{ valueDisplayed }}
      </div>

      <div class="calculator__pad">
        <button class="calculator__pad__btn --clear" @click="clear()">C</button>
        <button class="calculator__pad__btn" @click="handleOperation('/')">/</button>
        <button class="calculator__pad__btn" @click="handleDigit(7)">7</button>
        <button class="calculator__pad__btn" @click="handleDigit(8)">8</button>
        <button class="calculator__pad__btn" @click="handleDigit(9)">9</button>
        <button class="calculator__pad__btn" @click="handleOperation('x')">x</button>
        <button class="calculator__pad__btn" @click="handleDigit(4)">4</button>
        <button class="calculator__pad__btn" @click="handleDigit(5)">5</button>
        <button class="calculator__pad__btn" @click="handleDigit(6)">6</button>
        <button class="calculator__pad__btn" @click="handleOperation('-')">-</button>
        <button class="calculator__pad__btn" @click="handleDigit(1)">1</button>
        <button class="calculator__pad__btn" @click="handleDigit(2)">2</button>
        <button class="calculator__pad__btn" @click="handleDigit(3)">3</button>
        <button class="calculator__pad__btn" @click="handleOperation('+')">+</button>
        <button class="calculator__pad__btn --zero" @click="handleDigit(0)">0</button>
        <button class="calculator__pad__btn" @click="handleOperation('=')">=</button>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: "app",

    data() {
      return {
        currentValue: 0,
        savedValue: false,
        currentOperation: false
      };
    },

    methods: {
      clear() {
        this.currentValue = 0;
        this.savedValue = false;
        this.currentOperation = false;
      },

      handleOperation(operation) {
        if (this.currentOperation) {
          this.process();
        } else {
          this.savedValue = this.currentValue;
        }

        this.currentValue = 0;
        this.currentOperation = operation;
      },

      handleDigit(digit) {
        if (this.currentOperation === "=") {
          this.savedValue = false;
        }
        this.currentValue = this.currentValue * 10 + digit;
      },

      process() {
        if (this.currentOperation === "+") {
          this.savedValue += this.currentValue;
        } else if (this.currentOperation === "-") {
          this.savedValue -= this.currentValue;
        } else if (this.currentOperation === "x") {
          this.savedValue *= this.currentValue;
        } else if (this.currentOperation === "/") {
          this.savedValue /= this.currentValue;
        } else if (this.currentOperation === "=" && this.currentValue) {
          this.savedValue = this.currentValue;
        }
        this.currentValue = 0;
        this.currentOperation = false;
      }
    },

    computed: {
      valueDisplayed() {
        return this.savedValue
          ? this.currentValue
            ? this.currentValue
            : this.savedValue
          : this.currentValue;
      }
    }
  };
</script>

<style lang="scss">
  #app {
    font-family: "Avenir", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;

    box-sizing: border-box;

    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 14px;

    height: 100vh;
  }

  .calculator {
    $border: 1px solid rgba(0, 0, 0, .075);

    border: $border;
    border-radius: 4px;
    max-width: 350px;
    width: 100%;
    box-shadow: 0 0 7px 5px rgba(0, 0, 0, .03);

    &__result {
      font-size: 3rem;
      padding: 10px;
      display: grid;
      justify-content: end;
      align-items: center;
      border-bottom: $border;

      overflow: hidden;
      word-break: break-word;
    }

    &__pad {
      display: grid;
      grid-template-columns: repeat(4, minmax(60px, 1fr));
      grid-gap: 10px;
      padding: 15px;

      &__btn {
        cursor: pointer;
        font-size: 1.2rem;
        color: rgba(0, 0, 0, .75);

        display: grid;
        justify-content: center;
        align-items: center;

        padding: 15px 10px;
        border: 1px solid rgba(0, 0, 0, .2);
        border-radius: 3px;

        &:hover {
          background-color: #333;
          color: #fff;
        }

        &:focus {
          outline: none;
          box-shadow: 0 0 7px rgba(0, 0, 0, .2);
        }

        &.--clear {
          grid-column: 1/4;
        }

        &.--zero {
          grid-column: 1/4;
        }
      }
    }
  }
</style>
